<form asp-action="Create">
    <label>Ma sinh vien:</label>
    <input type="number" name="StudentID" value="1">
    <br>
    <label>Ho en sinh vien:</label>
    <input type="text" number="StudentName" value="Nguyen Van A">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>